// Kleuren
$primary-color: #e389b9;
$secondary-color: #746ab0;
$tertiary-color: #288ba8;

// Lettergrootte
$font-lg: 20;
$font-md: 16;
$font-sm: 14;

// Extend
%background-primary {
    background-color: $primary-color;
    color: $secondary-color;
    text-align: center;
}

p {
    @extend %background-primary;
    font-size: increaseFontSize();
}

@function increaseFontSize($size) {
    @return $size * 2;
}

nav {
    background-color: $primary-color;
    ul {
        list-style-type: none;
        li{
            :hover {
                color: $secondary-color;
            }
            a{
                text-decoration: none;
                color: $tertiary-color;
                font-size: $font-sm;
            }
        }
    }
}
.banner {
    h1 {
        font-size: $font-lg;
        color: $secondary-color;
        text-align: center;
    }
}
@mixin transition($transition...) {
    transition: $transition;
}
footer {
    h3 {
        font-size: $font-md;
        color: $primary-color;
        text-align: center;
    }
    &:hover {
        @include transition(color 0.5, background-color 1);
        color: $secondary-color;
        background-color: $tertiary-color;
    }
} 

@mixin paddingMargin($wpadding) {
    padding: $wpadding;
    margin: 3px;
}
nav {
    @include paddingMargin(5px);
}
.banner, .footer {
    @include paddingMargin(3px);
}